.parent {
	display: flex;
	height: 100vh;
	margin: 0;
}

.child {
	margin: auto;
	padding: 20px;
	max-width: 100%;
}

.title{
	font-family: 'Libre Barcode 39 Text', cursive;
	font-weight: normal;
	font-size: 3.5em;
}

* {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1em;
	line-height: 150%;

}

.input_field {
	border: none;
	border-bottom: 1px dotted gray;
	padding:10px;
}

.text_area {
	border-right: 1px dotted gray;
}