<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/static/">
	
	<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Libre+Barcode+39+Text" rel="stylesheet">
	
	<link href="/static/all.css" rel="stylesheet">
</head>

<body class="parent">

<div class="child">


	<div>
		<h1 align="center" class="title">SHAM-MAIL</h1>
	</div>


	<div align="center">
		<form action="/sendmail" method="post">
			<b>From</b><br><input class="input_field" type="email" name="from" required value="from@example.com"></input><br><br><br>
			<b>To</b><br><input class="input_field" type="email" name="to" required value="to@example.com"></input><br><br><br>
			<b>Body</b><br><textarea class="input_field text_area" rows="4" cols="40" type="text" name="body">Hi,
How're you doing?!</textarea><br><br><br>
			<input type="submit" value="Send"></input>
		</form>
	</div>


</div>


</body>
</html>